**¿Qué son las Variables?**

Elementos del lenguaje que permiten almacenar el resultado de una expresión, es decir, un valor, una operación o el resultado de ejecutar una función.

Tienen 3 componentes:
- Un nombre
- Un tipo
- Un valor

**Reglas sobre los nombres de variable**

- Debe de estar compuesto por MAYÚSCULAS, minúsculas, dígitos, y el carácter _ (guion bajo).
-D ebe comenzar con una letra.
- El carácter guion bajo es considerado una letra.
- Las mayúsculas y minúsculas se tratan de forma distinta (un poco diferente que en el mundo real - Alicia y ALICIA son el mismo nombre, pero en Python son dos nombres de variable distintos, subsecuentemente, son dos variables diferentes).
- No pueden ser igual a alguna de las palabras reservadas de Python (se explicará más de esto pronto).

Ejemplos de nombres correctos: MiVariable, i, t34, Tasa_Cambio, contador, dias_para_navidad,Adiós_Señora, ElNombreEsTanLargoQueSeCometeranErroresConEl, _

Ejemplos de nombres incorrectos:
- **10t** (no comienza con una letra)
- **Tasa Cambio** (contiene un espacio)

**Palabras Clave**


>['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
# En python no se declaran las variables, se crean cuando le asignamos valor por primera vez
nombre="Antonio"
print("Hola", nombre)

Hola Antonio

In [6]:
# Podemos usar variables en lugar de literales
var1 = 12
var2 = 14
var3 = var1 + var2
print(var3)

26

In [7]:
# Tambien se pueden usar en la misma linea como operando y como resultado de la asignación
var1 = 12
var1 = 2*var1
print(var1)

24

In [4]:
# Python es un lenguaje fuertemente tipado
# Si usamos una variable con un tipo incorrecto se produce un error
v_entera = 12
v_cadena = "alan"
print(v_entera + v_cadena)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# El tipo de una variable es dinámico, puede cambiar en cada asignación
variable = 12
print(type(variable))
variable = "alan"
print(type(variable))

<class 'int'>
<class 'str'>

In [9]:
# Ejemplo: el teorema de pitágoras
# El cuadrado de la hipótenusa es igual a la suma de los cuadrados de los catetos
cateto1 = 3.0
cateto2 = 4.0
hipotenusa = (cateto1**2 + cateto2**2) ** 0.5
print(hipotenusa)

5.0

In [12]:
# Operadores abreviados
# En lugar de <variable> = <variable> <operador> <expresión>
# usamos <variable> <operador>= <expresión>

x = 4
x += 5
print(x)

x *= 2
print(x)

x +=2 * 4
print(x)

9
18
26

In [ ]:
'''
Ejercicio
Teniendo en mente que 1 milla equivale aproximadamente a 1.61 kilómetros,
complementa el programa en el editor para que convierta de:
- Millas a kilómetros.
- Kilómetros a millas.

No se debe cambiar el código existente. Escribe tu código en los lugares
indicados con ###. Prueba tu programa con los datos que han sido provistos en el código fuente.

Pon mucha atención a lo que esta ocurriendo dentro de la función print().
Analiza como es que se proveen múltiples argumentos para la función, y como es que se muestra el resultado.

Nota que algunos de los argumentos dentro de la función print() son cadenas
(por ejemplo "millas son", y otros son variables (por ejemplo miles).
'''
kilometers = 12.25
miles = 7.38

miles_to_kilometers = ###
kilometers_to_miles = ###

print(miles, "millas son", round(miles_to_kilometers, 2), "kilómetros")
print(kilometers, "kilómetros son", round(kilometers_to_miles, 2), "millas")

Escribe el código para calcular el el valor de y usando la siguiente fórmula

$y = 3x^{3} - 2x^{2} + 3x - 1$

Usa los siguientes datos de prueba:

x = 0

x = 1

x = -1

In [ ]:
x = 0
print(3*x**3 - 2*x**2 + 3*x - 1)

x = 1
print(3*x**3 - 2*x**2 + 3*x - 1)

x = -1 
print(3*x**3 - 2*x**2 + 3*x - 1)

-1
3
-9